{% extends "base.html" %}

{% block page_title %}开始{% endblock %}

{% block page_content %}

<div class="lead">
    欢迎来到后台管理系统! - 这里将指引你如何调用本系统的接口。 <span class="label label-danger">New</span>
</div>

<blockquote>
    <ul class="list-unstyled">
        <li>
            查询所有城市：
            <ul><li><span class="label label-info">http://istour.isaced.com/api/citys</span><br></li></ul>
        </li>
        <li>
            查询某城市所有景点：
            <ul><li><span class="label label-info">http://istour.isaced.com/api/places/[category_id]</span><br></li></ul>
        </li>
        <li>
            查询所有分类：
            <ul><li><span class="label label-info">http://istour.isaced.com/api/categories</span><br></li></ul>
        </li>
        <li>
            查询某景点详情：
            <ul><li><span class="label label-info">http://istour.isaced.com/api/places/[places_id]</span><br></li></ul>
        </li>
  </ul>
</blockquote>

<hr>

<blockquote>
developing...
<br>
本项目开源在 <a href="https://github.com/isaced/istour">isaced/istour</a>，欢迎大家学习交流！
</blockquote>


{% endblock %}

