{% extends "base.html" %}

{% block page_title %}
{{title}}
<form class="form-inline" action="
{%- if title == '城市' -%}{{url_for('city_add')}}{% endif %}
{%- if title == '分类' -%}{{url_for('category_add')}}{% endif %}
{%- if title == '景点' -%}{{url_for('places_edit')}}{% endif %}
" method="POST" style="float:right">
  <div class="form-group">
  {%- if title != '景点' -%}
    <div class="input-group">
      <div class="input-group-addon">{{title}}名</div>
      <input type="text" class="form-control" name="obj_name" placeholder="">
    </div>
  </div>
  <button type="submit" class="btn btn-primary glyphicon glyphicon-plus"></button>
  {% else %}
  <a href="{{url_for('places_edit')}}" class="btn btn-primary glyphicon glyphicon-plus"></a>
  {% endif %}
</form>
{% endblock %}


{% block page_content %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="10%">#</th>
          <th width="70%">{{title}}</th>
          <th width="20%">操作</th>
        </tr>
      </thead>
      <tbody>
      {% for obj in obj_list %}
        <tr>
          <td>{{ obj.id }}</td>
          <td>{{ obj.name }}</td>
          <td class="btn-group">
            <button type="button" class="btn btn-default glyphicon glyphicon-edit"> 修改</button>
            <button type="button" class="btn btn-danger glyphicon glyphicon-trash"> 删除</button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}

