{% extends "base.html" %}

{% block page_title %}开始{% endblock %}

{% block page_content %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="10%">#</th>
          <th width="70%">城市</th>
          <th width="20%">操作</th>
        </tr>
      </thead>
      <tbody>
      {% for city in city_list %}
        <tr>
          <td>{{ city.id }}</td>
          <td>{{ city.name }}</td>
          <td class="btn-group">
            <button type="button" class="btn btn-default glyphicon glyphicon-edit"> 修改</button>
            <button type="button" class="btn btn-danger glyphicon glyphicon-trash"> 删除</button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

<h4>添加城市：</h4><br>

<form class="form-inline" action="{{url_for('city_add')}}" method="POST">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">城市名</div>
      <input type="text" class="form-control" name="city_name" placeholder="重庆">
    </div>
  </div>
  <button type="submit" class="btn btn-primary glyphicon glyphicon-plus"></button>
</form>

{% endblock %}

